body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('lake1.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Arial', sans-serif;
    animation: moveBackground 30s linear infinite;
}
@keyframes moveBackground {
    0% {
        background-position: 30% 30%;
    }
    100% {
        background-position: 100% 100%;
    }
}
.container {
    text-align: center;
    padding: 40px 60px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
}
h1 {
    font-size: 2.5em;
    color: #d9534f;
    margin-bottom: 20px;
    font-weight: bold;
}
p {
    font-size: 1.2em;
    color: #00fdcd;
    margin-bottom: 30px;
}
.btn {
    padding: 12px 24px;
    background-color: #0275d8;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.btn:hover {
    background-color: #025aa5;
    transform: translateY(-3px);
}
@media (max-width: 600px) {
    .container {
        padding: 20px 30px;
    }
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1em;
    }
    .btn {
        padding: 10px 20px;
    }
}
