body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('lake1.jpg'); /* Calea către imagine */
    background-size: cover;  /* Asigură-te că imaginea acoperă întregul ecran */
    background-position: center center; /* Centrează imaginea */
    background-attachment: fixed; /* Oferă un efect de parallax la scroll */
    animation: moveBackground 30s linear infinite; /* Mișcare lentă a imaginii pe fundal */
}

/* Definim animația pentru mișcarea imaginii */
@keyframes moveBackground {
    0% {
        background-position: 30% 30%;
    }
    100% {
        background-position: 100% 100%;
    }
}

/* Centrarea textului pe fundal */
.container {
    display: flex;
    flex-direction: column; /* Folosim flex-direction column pentru a alinia textul și secțiunea cu butoane pe verticală */
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: white; /* Asigură-te că textul este vizibil pe fundalul întunecat */
    position: relative;
    z-index: 1;
}

/* Stilizare pentru antetul textului */
h1 {
    font-size: 4em;
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7); /* Adaugă un efect de umbră pentru a face textul mai lizibil */
    margin-bottom: 40px; /* Adăugăm un spațiu între titlu și butoane */
}

/* Stil pentru secțiunea de acțiuni */
.actions {
    background-color: rgba(0, 0, 0, 0.6); /* Fundal semitransparent pentru a îmbunătăți lizibilitatea textului */
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    margin-top: 20px;
}

/* Stil pentru butoane */
.btn {
    padding: 10px 20px;
    margin: 10px;
    background-color: #FFD700;
    color: #000;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #FF6347;
    color: white;
}
