<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Competitions</title>
</head>
<body>
<div>
    <h1>Competitions</h1>
    <a href="/competitions/add">Add New Competition</a>
    <table border="1" cellpadding="5" cellspacing="0">
        <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Date</th>
            <th>Sectors</th>
            <th>Participants</th>
            <th>Days</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="competition : ${competitions}">
            <td>
                <a th:href="@{'/competitions/' + ${competition.id}}">
                    <span th:text="${competition.name}"></span>
                </a>
            </td>
            <td th:text="${competition.location}"></td>
            <td th:text="${competition.date}"></td>
            <td th:text="${competition.sectors}"></td>
            <td th:text="${competition.participants}"></td>
            <td th:text="${competition.days}"></td>
            <td>
                <a th:href="@{'/competitions/delete/' + ${competition.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
