<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/style1.css}">
</head>
<body>
<div class="container">
    <h1>Welcome, <span th:text="${username}"></span>!</h1>
    <p>Email: <span th:text="${email}"></span></p>
    <p>Roles: <span th:text="${roles}"></span></p> <!-- Afișează rolurile -->
    <p th:text="${message}"></p>  <!-- Va afisa mesajul de succes -->

    <div class="actions">
        <!-- Buton pentru adăugare competiție -->
        <a href="/competitions/add" class="btn btn-primary">Add Competition</a>

        <!-- Buton pentru adăugare participant -->
        <a href="/participants/add" class="btn btn-primary">Add Participant</a>

        <!-- Buton pentru lista competițiilor -->
        <a href="/competitions" class="btn btn-secondary">View Competitions</a>
    </div>
    <a href="/logout" class="logout-btn">Logout</a>
</div>
</body>
</html>
