<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fishing Competition Pro</title>
    <link rel="stylesheet" th:href="@{/start.css}">
</head>
<body>
<div class="container">
    <header>
        <h1 class="title"><span>Fishing Competition Pro</span></h1>
    </header>

    <section class="actions">
        <p class="intro">Catch the Trophy, Be the Champion!</p>
        <div class="links">
            <a href="/register" class="btn btn-premium">Cont nou</a>
            <a href="/login" class="btn btn-premium">Intra in cont</a>
        </div>
    </section>
</div>
</body>
</html>
