<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fishing Competition</title>
    <!-- Legăm fișierul CSS -->
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div class="container">
    <header>
        <h1><span style="color: #00FF00;">Fishing Competition Pro</span></h1>

    </header>

    <section class="actions">
        <p class="intro">Catch the Trophy, Be the Champion!</p>
        <div class="links">
            <a href="/register" class="btn">Cont nou</a>
            <a href="/login" class="btn">Intra in cont</a>
        </div>
    </section>
</div>
</body>
</html>
