<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de pornire</title>
    <link rel="stylesheet" th:href="@{/style1.css}">
</head>
<body>
<div class="background-overlay"></div>
<div class="container">
    <h1>Bine ai venit, <span th:text="${username}">mada2</span>!</h1>
    <p class="role">Rol: <span th:text="${roles}" class="role-text">[ORGANIZER]</span></p>
    <p th:text="${message}" class="message"></p>

    <div class="actions">
        <a href="/competitions/add" class="btn btn-primary">Adaugă Competiție</a>
        <a href="/participants/add" class="btn btn-primary">Adaugă Participant</a>
        <a href="/competitions" class="btn btn-secondary">Vizualizare Competiții</a>
    </div>
    <a href="/logout" class="logout-btn">Ieșire Cont</a>
</div>
</body>
</html>
